@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

#__next > div {
  font-family: var(--font-unbounded);
  font-weight: 400;
}

.container {
  width: 100%;
  max-width: none !important;
  padding-left: 30px;
  padding-right: 30px;
}

@screen md {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@screen lg {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.mobile-header {
  @apply text-[43px] font-medium leading-tight lg:text-[72px] xl:text-[93px]
}

.mobile-subtitle {
  @apply text-[24px]
}

.mobile-title {
  @apply text-[38px] leading-tight
}

.mobile-text {
  @apply text-[18px] leading-[24px]
}

.title, .revealing-line, .revealing-words {
  overflow: hidden;
}


.footer-bg-text {
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}