@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-black overflow-x-hidden;
}

body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

#__next > div {
  font-family: var(--font-unbounded);
  font-weight: 400;
}

.outline-btn {
  @apply border hover:bg-[#D2D2D2] hover:text-black transition-all focus:bg-white focus:text-black border-white
}

.container {
  width: 100%;
  max-width: none !important;
  padding-left: 30px;
  padding-right: 30px;
}

@screen md {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@screen lg {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.mobile-header {
  @apply text-[43px] font-medium leading-tight lg:text-[72px] xl:text-[93px];
}

.mobile-subtitle {
  @apply text-[24px];
}

.mobile-title {
  @apply text-[38px] leading-tight;
}

.mobile-text {
  @apply text-[18px] leading-[24px];
}

.title,
.revealing-line,
.revealing-words {
  overflow: hidden;
}

.footer-bg-text {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hidden-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.hidden-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.artists-scrollbar {
  @apply pr-[16px]
}
.artists-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.artists-scrollbar::-webkit-scrollbar-track {
  @apply bg-[#0C1116] rounded-sm;
}
.artists-scrollbar::-webkit-scrollbar-thumb {
  @apply  bg-alm-white rounded-sm;
}
.artists-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-white
}

.white-scrollbar::-webkit-scrollbar {
  @apply w-[5px];
}

.white-scrollbar::-webkit-scrollbar-track {
  @apply bg-alm-white;
}

.white-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-black rounded-[1px];
}

.black-scrollbar::-webkit-scrollbar {
  @apply w-[5px];
}

.black-scrollbar::-webkit-scrollbar-track {
  @apply bg-alm-white;
}

.black-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-black rounded-[1px];
}


.production-swiper .swiper-wrapper {
  @apply items-center
}

.production-swiper .swiper-slide-next,
.production-swiper .swiper-slide-next + .swiper-slide,
.production-swiper .swiper-slide-next > div,
.production-swiper .swiper-slide-next + .swiper-slide > div {
  @apply items-end
}

.production-swiper .swiper-slide-active {
  @apply !items-center
}

.production-swiper .swiper-slide-active .name {
  @apply opacity-100 block
}

.production-swiper .swiper-slide-active .image {
  @apply !w-[280px] !h-[180px] xl:!w-[300px] xl:!h-[200px]
}

.production-swiper .swiper-slide-next .image, .production-swiper .swiper-slide-prev .image {
  @apply !w-[230px] !h-[160px] xl:!w-[250px] xl:!h-[150px]
}

/* Datepicker */
.react-datepicker {
  @apply bg-black rounded-[10px] border border-alm-white absolute top-[50px] z-10;
}

.react-datepicker__header {
  @apply border-none pt-[15px] pb-0 px-[15px];
}

.react-datepicker__navigation {
  @apply top-[16px];
}

.react-datepicker__month {
  @apply m-0 p-[15px];
}

.react-datepicker__current-month {
  @apply pb-[15px];
}

.react-datepicker__week {
  @apply flex;
}

.react-datepicker__header:not(.react-datepicker__header--has-time-select) {
  @apply rounded-t-[10px] bg-black;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  @apply text-white font-unbounded font-medium;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  @apply w-[28px] m-[4px] h-[28px] sm:w-[35px] sm:h-[35px] text-[12px] sm:m-[6px] font-unbounded text-white flex items-center justify-center;
}

.react-datepicker__day-names {
  @apply flex;
}

.react-datepicker__day-name {
  @apply font-medium;
}

.react-datepicker__day {
  @apply font-light;
  border-radius: 9px;
}

.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow,
.react-datepicker__navigation-icon::before {
  border-color: #ccc;
  border-width: 2px 2px 0 0;
  height: 6px;
  top: 6px;
  width: 6px;
}

.react-datepicker__day--selected,
.react-datepicker__day:hover,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  @apply bg-white !text-black !font-medium rounded-none;
}

.react-datepicker__triangle {
  @apply hidden;
}

.react-datepicker-popper {
  @apply !pt-0;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  @apply font-[12px];
}

.react-datepicker__day--disabled, .react-datepicker__month-text--disabled, .react-datepicker__quarter-text--disabled, .react-datepicker__year-text--disabled {
  pointer-events: none;
  background-color: #0C1116;
  @apply text-alm-white text-opacity-30;
}