@tailwind base;
@tailwind components;
@tailwind utilities;

.pb-container {
  @apply block text-center w-full;
}


.pb-container .pb-button {
  @apply bg-white text-black hover:bg-[#D2D2D2] active:bg-white transition-all border-white border-[2px];

  position: relative;
  color: currentColor;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  height: 64px;
  width: 240px;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  transition:
    background-color 0.3s,
    width 0.3s,
    border-width 0.3s,
    border-color 0.3s,
    border-radius 0.3s;

  display: flex;
  justify-content: center;
  align-items: center;
}
.pb-container.black .pb-button {
  @apply bg-black text-white hover:bg-opacity-[0.85] active:bg-alm-white transition-all border-black border-[2px];
}
.pb-container .pb-button span {
  display: inherit;
  transition: opacity 0.3s 0.1s;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  @apply text-black;
}
.pb-container.black .pb-button span {
  @apply text-white;
}
.pb-container .pb-button svg {
  height: 72px;
  width: 72px;
  position: absolute;
  pointer-events: none;
}
.pb-container .pb-button svg path {
  opacity: 0;
  fill: none;
}
.pb-container .pb-button svg.pb-progress-circle {
  animation: spin 0.9s infinite cubic-bezier(0.085, 0.26, 0.935, 0.71);
  top: 30px;
  left: 30px;
}
.pb-container .pb-button svg.pb-progress-circle path {
  stroke: currentColor;
  stroke-width: 1;
}
.pb-container .pb-button svg.pb-checkmark path,
.pb-container .pb-button svg.pb-cross path {
  stroke: #fff;
  stroke-linecap: round;
  stroke-width: 4;
}
.pb-container.disabled .pb-button {
  cursor: not-allowed;
}
.pb-container.loading .pb-button {
  width: 64px;
  border-width: 2px;
  border-radius: 40px;
  border-color: #1e2124;
  cursor: wait;
  background-color: transparent;
  padding: 0;
}
.pb-container.loading .pb-button span {
  transition: all 0.15s;
  opacity: 0;
  display: none;
}
.pb-container.loading .pb-button .pb-progress-circle > path {
  transition: opacity 0.15s 0.3s;
  opacity: 1;
}
.pb-container.success .pb-button {
  border-color: #fff;
  background-color: #fff;
}
.pb-container.black.success .pb-button {
  border-color: #000;
  background-color: #000;
}
.pb-container.success .pb-button span {
  transition: all 0.15s;
  opacity: 0;
  display: none;
}
.pb-container.success .pb-button .pb-checkmark > path {
  opacity: 1;
  fill: black;
  color: black;
  stroke: black;
}
.pb-container.black.success .pb-button .pb-checkmark > path {
  opacity: 1;
  fill: white;
  color: white;
  stroke: white;
}
.pb-container.error .pb-button {
  border-color: #ed5565;
  background-color: #ed5565;
}
.pb-container.error .pb-button span {
  transition: all 0.15s;
  opacity: 0;
  display: none;
}
.pb-container.error .pb-button .pb-cross > path {
  opacity: 1;
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
    transform-origin: center center;
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
    transform-origin: center center;
  }
}
